body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.container{
    border-radius: 30px;
}
label{
    color: white;
}
.nomeUser{
    color: rgb(255, 255, 255);
}
input{
    color: rgb(255, 255, 255);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
}
tr{
    color: white;
}

input[type="text"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: rgb(192, 113, 123);
  }
  
  input[type="button"] {
    width: 120px;
    margin-left: 35px;
    display: block;
  }

.gradient {
    background-image: linear-gradient(to bottom, rgb(3, 3, 3), rgb(0, 0, 0), rgb(0, 0, 0));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
  
    /* Adicionado: */
    -webkit-text-fill-color: transparent;
  }
  
  p {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.1;
  }